.pagina-ex05{

    background-color: #F5F6FA;
    min-height: 100vh;

    main{

        padding-top: 80px;
        padding-left: 70px;
        min-height: 170vh;

        .titulo-ex05{

            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;

            .seta{

                width: 40px;

            }

        }

        hr{

            height: 4px;
            border-radius: 12px;

        }

        .bloco{

            margin-top: 30px;
            background-color: #fff;
            align-items: center;
            width: 1200px;
            border-radius: 12px;

            p{

                text-align: center;
                padding-top: 110px;
                padding-bottom: 110px;
                padding-left: 10px;
                padding-right: 10px;

            }
        
        }
    
        .card{

            display: flex;
            flex-direction: column;
            gap: 20px;
            background-color: #fff;
            padding: 30px;
            box-shadow: 0px 0px 15px 2px #e6e6e6;
            margin: 50px 0px;
            max-width: 700px;
            border-radius: 12px;
            margin-left: 250px;
            margin-bottom: 10px;

            .qtds{

                display: flex;
                flex-direction: row;
                gap: 40px;
                margin-bottom: 20px;

                .tt{

                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    text-align: center;
                }

                input{

                    border-color: #d1cccc;
                    border-radius: 12px;
                    padding: 10px;
                    outline: none;
                    width: 80%;
                    border-style: solid;
                    margin-left: 30px;

                }

            }

            button{

                background-color: #6278F7;
                color: #fff;
                border-radius: 12px;
                padding: 10px;
                border-style: none;
                width: 35%;
                height: 50px;
                margin-left: 403px;
                margin-top: 10px;
                

            }

        }

        h4{

            margin-left: 700px;
                       
        }

    }

}